PORT=3001
TRONDEALER_API_KEY=td_replace_with_real_key
TRONDEALER_WEBHOOK_SECRET=replace_with_64_hex_characters
ADMIN_API_KEY=replace_with_another_64_hex_characters
CORS_ORIGIN=https://remesa.eav-labs.com
PAYMENT_TOLERANCE_USD=0.05

OPENWA_BASE_URL=http://127.0.0.1:2785/api
OPENWA_API_KEY=owa_k1_your_api_key
OPENWA_SESSION_ID=default
OPENWA_ADMIN_CHAT_ID=5350000000@c.us
